{{ define "main" }}
  <article class="post">
    <header>
      <div class="title">
        <h1><a href="{{ .RelPermalink }}">{{ i18n "contact" }}</a></h1>
        {{ with .Description }}<p>{{ . }}</p>{{ end }}
      </div>
    </header>
      <div id="content">
        {{ .Content }}
        <div class="contact-container">
          {{ if .Params.netlify }}
            <form name="contact" method="POST" action="thank-you" data-netlify-recaptcha="true" data-netlify="true" center width="300px">
          {{ else }}
            <form action="https://smartforms.dev/submit/5ff29239b81854118fd3fd8d" method="POST">
  <input type="text" name="name">
  <input type="email" name="email">
  <input type="text" name="tel">
  <button type="submit">Send</button>
  </form>
      </div>
    </div>
  </article>
{{ end }}
