<header>
  <div class="title">
    {{ if $.Scratch.Get "h1" }}
      <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
      {{ $.Scratch.Set "h1" false }}
    {{ else }}
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ end }}
    {{ with .Description }}
      <p>{{ . }}</p>
    {{ end }}
  </div>
  <div class="meta">
    <time datetime="{{ .Date }}">{{ .Render "date" }}</time>
    {{ with .Params.author }}<p>{{ . }}</p>{{ end }}
    {{ if .Site.Params.ReadingTime }}<p>{{ i18n "reading_time" .ReadingTime }}</p>{{ end }}
  </div>
</header>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/127f1a0cd94c887d4539ae400/e7b6f9d23191e7ea65426c8ce.js");</script>